/* ===============================
   Materials Grid Layout
================================ */
.materials-grid {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}





/* ===============================
   Card Base
================================ */
.materials-card {
  position: relative;
  height: 400px;
  border-radius: 24px;
  overflow: hidden;
  cursor: pointer;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* ===============================
   Background & Overlay
================================ */
.materials-card-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.6s ease;
}

.materials-card-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.7)
  );
}


/* ===============================
   Card Content
================================ */
.materials-card-body {
  position: relative;
  z-index: 2;
  height: 100%;
  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  color: #fff;
}

.materials-card-body h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 180px;
}


.materials-price {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;

  margin-bottom: 30px;

  text-shadow: 0 2px 6px rgba(0,0,0,0.35);
}

.materials-card-body p {
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: px;
}

.materials-card-body button {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background: #22c55e;
  color: #fff;
  border: none;
  border-radius: 999px;
  padding: 20px 100px;
  font-size: 16px;
  cursor: pointer;
}


/* ===============================
   Hover Effects
================================ */
.materials-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.18);
}

.materials-card:hover .materials-card-bg {
  transform: scale(1.08);
}


/* ===============================
   Responsive (Mobile)
================================ */
@media (max-width: 900px) {
  .materials-grid {
    grid-template-columns: 1fr;
  }

  .materials-card {
    height: 320px;
  }
}
